body {
  background-image: url('https://wallpapers.com/images/hd/the-simpsons-1920-x-1080-background-60schu6yw4f5n18b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.8em;
}

div {
  background-color: rgba(255, 255, 255, 0.65)   /* 55% opaque white */;
  padding: 1em;
}
p {
  text-align: justify;
}

nav {
  background-color: #2c3e50;
  padding: 1em;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
}
